#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.border {
  border: 1px solid #000;
  border-radius: 5px;
}

.timeline-item {
  margin: 0 1rem 0 0;
  width: 200px;
}

.progress-bar-start {
  position: absolute;
  height: 20px;
  background-color: #000000;
  border-radius: 10px;
  margin: 0 0 0 25px;
  width: 0%;
  transition: width 800ms ease-in-out;
  z-index: 1;
}

.progress-bar-end {
  position: absolute;
  height: 20px;
  background-color: #767676;
  border-radius: 10px;
  margin: 0 25px 0 0;
  width: 0%;
  transition: width 800ms ease-in-out;
}